body{
    background-image: url(https://images5.alphacoders.com/866/thumb-1920-866522.jpg);   
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.icecoffee{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
}

.hotcoffee{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
}

.coffee1{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
}

.coffee2{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px; 
}

.coffee3{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px; 
}

.coffee4{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px; 
}
.coffee5{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
} 

.coffee6{
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
} 

img{
   width: 300px;
   height: 300px;
   border-radius: 50%;
   text-align: center;
  
}


h1{
    text-align: center;
}

li{
    display: inline;
    padding: 10px;
    margin: 10px;
    
   
}

ul{
    
    list-style: none;
}


button{
    width: 200x;
    background-color: aqua;
    transition: background-colo 0.2s;
}

button :hover{
    background-color: blue;
    width: 200px;
}